body {
    margin: 0;
}

#content {
    background-color: #f0f0f4;
    font-size: 24px;
}

.tarif {
    background-color: #ffffff;
    margin-bottom: 33px;
}

.tarif-two {
    display: none;
    width: 100%;
    background-color: #f0f0f4;
}

.tarif-name-div, .tarif-content-div {
    background-color: #ffffff;
    padding-top: 10px;
    margin-bottom: 20px;
}

.two-arrow {
    margin: auto;
    padding-left: 20px;
}

.tarif-two img {
    height: 30px;
}

.tarif-name-div {
    margin-bottom: 55px;
}

.tarif-name-div .name {
    color: black;
    margin-top: -30px;
    text-align: center;
}

.tarif-content-div .name {
    padding: 10px 0 15px 0;
}

.tarif-content-div .speed-price-div {
    color: #4c565c;
}

.link a {
    color: #007bff;
    text-decoration: none;
}

.link {
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #d7d7db;
    padding-left: 25px;
}

.price {
    color: #4c565c;
    font-size: 32px;
}

.price p {
    margin: 0 0 10px;
}

.one-arrow, .three-arrow {
    margin-right: 25px;
}

.one-arrow img {
    transform: rotate(180deg);
    height: 20px;
}

.speed-price-div {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.speed {
    font-size: 33px;
    margin-left: -25px;
    width: fit-content;
}

.speed p {
    margin: 0 0 15px 25px;
    color: white;
    font-weight: bolder;
    padding: 10px 10px 10px 0;
}

.land .speed {
    background-color: #705f3c;
}

.fire .speed {
    background-color: #e84601;
}

.water .speed {
    background-color: #0075da;
}

.tarif-content-div {
    border-bottom: 1px solid #d7d7db;
    padding-left: 25px;
    padding-bottom: 10px;
}

.free-options {
    color: #525b61;
}

.free-options p, .name p, .big-price p, .date-div p {
    margin: 0;
}

.name {
    color: #83c227;
    border-bottom: 1px solid #d7d7db;
    margin-bottom: 10px;
    padding: 10px 0 10px 25px;
    font-weight: 600;
}

.big-price {
    margin-top: 10px;
}

#content {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
    .tarif {
        width: 33%;
    }
}

@media screen and (min-width: 640px) {
    .tarif {
        flex-direction: column;
        display: flex;
        border-right: 1px solid #d7d7db;
    }

    .link {
        margin-top: auto;
    }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
    .tarif {
        width: 49%;
    }
}

@media screen and (max-width: 639px) {
    .tarif {
        width: 100%;
    }
}

.tarif-third .price {
    font-weight: 600;
}

.tarif-third .date-div {
    color: #d9d9d9;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #d7d7db;
    padding-bottom: 10px;
}

.tarif-third .speed-price-div {
    flex-direction: column;
    align-items: baseline;
}

.button {
    width: 95%;
    color: white;
    background-color: #83c227;
    text-align: center;
    padding: 15px 0;
}

.one-arrow:hover, .two-arrow:hover, .button:hover {
    cursor: pointer;
}
